body {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: justify;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: #868490;
}

h1 {
    color: #fff;
    margin: 0 0 40px;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.3em;
    text-align: left;
    margin: 0 0 20px;
}

/*NAVIGATION SECTION*/
header {
    margin-top: 20px;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.header_nav_line {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-link {
    margin: 0 40px;
    padding: 0 40px;
    display: inline-block;
    position: relative;
    justify-content: space-between;
    transition: .2s linear;
}

.nav-link:hover {
        color: #9F09FC;
}

.nav-link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #9F09FC;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .2s linear;
}

.nav-link:hover:after,
.nav-link.active:after {
    opacity: 1;
}

a {
    color: #fff;
    text-decoration: none;
    transition: .2s ease;
}

/*MAIN_BLOCK*/
.container2 {
    margin: 30px 30px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box1 {
    flex: 1.5 1 34%;
    padding: 20px 40px 0px 0px;
}

.box2 {
    flex: 1 1 33%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box3 {
    flex: 1 1 33%;
    padding: 20px 0px 0px 40px ;
}

.avatar {
    border-radius: 100%;
    width: 600px;
    height: 600px;

}

.flex {
    display: flex;
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.text_area {
    line-height: 1.5;
}

.main_block {
    display: flex;
    justify-content: center;
}

.item {
    margin: 10px 20px;
    text-align: center;
}

.item img {
    transition: all 0.3s linear;
    width: 200px;
    height: 200px;
}

.item img:hover {
    transform: scale(1.3);
}

.stack {
    text-align: center;
}

/*"FOOTER"*/
footer {
    display: flex;
    justify-content: center;
}

.footer_div {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_item {
    margin: 10px 60px;
    display: flex;
    align-items: center;
}

.footer_img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.contacts {
    display: inline-block;
    position: relative;
    transition: .2s linear;
}

.contacts:hover {
    color: #9F09FC;
}

.contacts:after{
    content: "";
    display:block;
    width: 100%;
    height: 3px;
    background-color: #9F09FC;

    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;

    transition: .2s linear;
}

.contacts:hover:after,
.contacts.active:after {
    opacity: 1;
}

/*Фоновые картинки - пятна*/
.v1 {
    position: absolute;
    width: 1053.38px;
    height: 594.77px;
    left: 773.54px;
    top: -89px;
    z-index: -1;

    background: linear-gradient(180deg, rgba(47, 69, 188, 0.9) 0%, rgba(47, 188, 188, 0) 100%);
    filter: blur(120px);
    }

.v2 {
    position: absolute;
    width: 531px;
    height: 884px;
    left: 190px;
    top: 16px;
    z-index: -1;

    background: #4F349F;
    filter: blur(100px);
}

/*MEDIA QUERIES*/
@media (max-width: 1600px) {
    body {
        font-size: 24px;
    }
    h1 {
        font-size: 1.4em;
    }
    h2, h3 {
        font-size: 1.3em;
    }
    .v1 {
        width: 800px;
        left: 550px;
    }
    .avatar {
        width: 430px;
        height: 430px;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 1.3em;
        margin: 0 0 20px 0;
    }
    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

    .box1 {
        padding: 20px 20px 0px 0px;
    }
    .box3 {
        flex: 1 2 33%;
        padding: 20px 0px 0px 20px ;
    }
    .text_area {
        line-height: 1.3;
    }
    .avatar {
        width: 330px;
        height: 330px;
    }
    .v1 {
        display: none;
    }
}

@media (orientation: portrait) {
    header {
        font-size: 40px;
    }
    .header_nav_line {
        justify-content: space-around;
    }
    .nav-link {
        margin: 0 20px;
        padding: 0 20px;
    }
    .container2 {
        flex-direction: column;
    }
    .box1{
        order: 2;
    }
    .box2{
        order: 1;
    }
    .box3{
        order: 3;
    }
    .stack {
        font-size: 50px;
    }
    .footer_item {
        margin: 10px 0px;
    }
    .contacts {
        width: 320px;
        font-size: 36px;
    }
}