.Smoothie {
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    line-height: 24px;
    background-color: white;

    div{
        padding: 0;
        margin: 0;
    }

    h2, h4{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        color: #FFFFFF;
        font-style: normal;
    }

    h2 {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 50px;
        line-height: 62px;
    }

    h4 {
        font-family: 'Waiting for the Sunrise', cursive;
        font-weight: 300;
        font-size: 30px;
        line-height: 50px;
    }

    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /* CONTAINER */

    .container {
        // display: flex;
        // justify-content: center;
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
    }

    /* HEADER + NAV */

    header {
        height: 100px;
    }

    header div {
        display: flex;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #433840;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li a {
        text-decoration: none;
        color: black;
        margin: 0px 13px;
    }

    a.active {
        color: #FEA3AC;
    }

    a:hover {
        color: #FEA3AC;
        transition: 200ms ease-in-out;
    }

    /* COVER */

    .cover {
        min-height: 400px;
        position:relative;
        background-size: cover;
    }

    .cover.mainpage {
        background: transparent url(./img/alexander.jpg) center no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 70px;
    }

    .tears {
        position: relative;
    }

    .tears::before {
        content: "";
        width: 100%;
        height: 130px;
        background: url(./svg/top.svg);
        position: absolute;
        top: 0;
    }

    .tears::after {
        content: "";
        width: 100%;
        height: 110px;
        background: url(./svg/bot.svg);
        position: absolute;
        bottom: 0;
    }

    /* MAIN CONTENT */

    main div.container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .column {
        margin: 0 25px;
    }

    .column_middle {
        align-self: center;
    }

    .column:last-child {
        margin: 0 25px;
    }

    h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: #433840;
        margin-bottom: 12px;
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #9A9A9A;
    }

    article {
        margin-bottom: 80px;
    }

    article:last-child {
        margin-bottom: 0;
    }

    main {
        margin-bottom: 30px;
    }

    /* Section ITEMS-COUNTERS */

    .block_icons {
        background: #FEA3AC;
        display: flex;
        justify-content: space-around;
        min-height: 600px;
        align-items: center;
        margin-bottom: 57px;
    }

    .icon {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .counter {
        font-family: 'Waiting for the Sunrise';
        font-style: normal;
        font-weight: 300;
        font-size: 60px;
        line-height: 99px;
        color: #DFEEB6;
        display: block;
        align-self: right;
        text-align: center;
    }

    h5 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }

    /* Section TEAM MEMBERS */

    .team_f1 {
        color: #433840;
        text-align: center;
    }

    .team_f2 {
        color: #F7A1A8;
        text-align: center;
        margin-bottom: 60px;
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .team_member {
        margin-bottom: 40px;
        width: calc(50% - 20px);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C9E3F4;
    }

    .photo img {
        border-radius: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .team_member:nth-child(2),
    .team_member:nth-child(3) {
        background: #DFEEB6;;
    }

    .team_member:nth-child(3) .photo,
    .team_member:nth-child(4) .photo {
        order: 2;
    }

    .team_member:nth-child(3) .box,
    .team_member:nth-child(4) .box {
        order: 1;
        margin-left: 0px;
        margin-right: 17px;
        text-align: end;
    }

    .box {
        margin-left: 17px;
    }

    .FIO {
        font-size: 30px;
        line-height: 30px;
    }

    .occup {
        font-weight: 300;
        color: #433840;
        margin-bottom: 14px;
    }

    .team_p {
        font-weight: 300;
        color: #433840;
        margin-bottom: 10px;
    }

    .team_member a img {
        margin-right: 10px;
    }


    /* CONTACTS SECTION */

    .contacts {
        background: transparent url(./img/Contacts_back.png) center no-repeat;
        padding: 62px 0 60px;
        display: flex;
        justify-content: center;
    }

    .flex_cont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 15px;
        width: auto;
    }

    .schedule {
        font-size: 20px;
        line-height: 35px;
        margin-right: 60px;
    }

    .day {
        color: white;
        margin-top: 25px;
    }

    .hours {
        color: #DFEEB6;
    }

    .contacts_inner {
        color: white;
        width: 340px;
        margin-right: 60px;
    }

    .margin {
        margin-bottom: 25px;
    }

    .icons {
        font-size: 20px;
        line-height: 35px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .icons2 {
        width:25px;
        height:25px;
        fill: white;
        stroke: white;
        margin: 0 5px;
    }

    .phone {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
    }

    .mail {
        text-decoration: underline;
    }

    .margin2 {
        margin-left: 10px;
    }

    .instFeed {
        width: 348px;
        height: 254px;
    }

    .feed {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feedItem {
        margin-bottom: 26px;
    }

    /* FOOTER */

    .footer {
        background: #433840;
        height: 60px;
        display: flex;
        justify-content: center;
    }

    .footerText {
        margin:0 15px;
        color: white;
        font-size: 15px;
        line-height: 35px;
        font-weight: 400;
        font-style: normal;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .icons3 {
        letter-spacing: 2px;
    }

    @media (max-width: 950px){
        body {
            font-size: 18px;
        }
        .nav {
            flex-direction: column;
        }

        .team{
            margin-bottom: 40px;
        }

        .photo img {
            width: 200px;
            height: 200px;
        }

        .contacts {
            background: none;
            background-color: #433840;
            padding: 10px 0;
        }

        .flex_cont{
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .margin {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .feed {
            flex-wrap: nowrap;
        }
        .instFeed{
            width: 700px;
            height: 170px;
        }
    }

    @media (max-width: 810px){
        article {
            margin-bottom: 40px;
        }
        h3 {
            font-size: 20px;
            line-height: 26px;
        }
        .container{
            width: 100%;
        }
        .flex_cont {
            width: 100%;
        }
        .column_middle img {
            width: 200px;
            height: 200px;
        }
        .photo img {
            width: 140px;
            height: 140px;
        }
        .schedule {
            margin-right: 0px;
        }
        .contacts_inner {
            width: auto;
            margin-right: 0px;
        }
        .instFeed {
            margin: 0 15px;
        }
        .feedItem:nth-child(4),
        .feedItem:nth-child(5),
        .feedItem:nth-child(6)
        {
            display: none;
        }
    }

    @media (max-width: 580px){
        .icon {
            width: 100px;
            height: 100px;
        }
        .team {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        .team_member {
            margin: 0 10 40px;
            width: auto;
        }
    }

    @media (max-width: 420px) and (orientation: portrait){
        h4 {
            text-align: center;
        }
        h5 {
            display: none;
        }
        main div.container {
            flex-direction: column;
        }
        article {
            margin-bottom: 30px;
        }
        .column {
            margin: 0 10px;
        }
        .column:last-child {
            margin: 0 10px;
        }
        .column_middle {
            display: none;
        }
        .block_icons {
            min-height: 500px;
            margin: 0 10px 37px;
        }
        .icon {
            width: 85px;
            height: 85px;
        }
        .counter {
            font-size: 40px;
            line-height: 60px;
        }
        .team_f2 {
            margin-bottom: 30px;
        }
        .team {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        .team_member {
            margin: 0 10 40px;
            width: auto;
        }
        .feedItem:nth-child(4),
        .feedItem:nth-child(5),
        .feedItem:nth-child(6)
        {
            display: none;
        }
        .icons3{
            display: flex;
            flex-wrap: nowrap;
            margin: 0 0 0 15px;
        }
    }
}
