body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.myPetContainer{
  background-color: white;
  color: black;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background-color: white;
  margin: 0 2px;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 10px 10px 0 0;
  background-color: lightskyblue;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.post {
  display: flex;
  padding: 15px;
  border: solid 5px teal;
  margin-top:15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
opacity: 0;
  transition: opacity 500ms ease-out;
}

.page_wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page_current {
  border: 2px solid black;
  font-weight: bold;
}

@media (max-width: 1600px) {
  body {
      font-size: 24px;
  }
}

@media (max-width: 1200px) {
  body {
      font-size: 20px;
  }
}

@media (max-width: 950px){
  .react-tabs__tab-list {
    flex-wrap: wrap-reverse;
  }
  .react-tabs__tab {
    position: relative;
    padding: 3px 12px;
    cursor: pointer;
    font-size: 16px;
  }
}